.aboutSection{
  position: fixed;
}




.heroText {
  font-size: 20px;
}

.heroLeft {
  margin-left: 12%;
}

.navbarLink {
  z-index: 2;
  background-color: #363636;
  box-shadow: 0 10px 13px -13px black;
}

.navChildSticky {
  background-color: rgb(233, 233, 233);
  color: #363636;
  border-color: #1a1a1a;

}

.eyeBackground {
  position: relative;
  transition: 0.2s ease-in-out;
  top: -9px;
  z-index: 1;

}


.eyeTrackerContainer {
  display: grid;
  place-items: center;
  position: relative;
  /* border: 1px solid yellow; */
  /* height: 30vh; */
  /* width: 10%; */
}

.eyeContainer {
  position: absolute;
  /* border: 1px solid red; */
  top: 0%;
  /* left: 25%; */
  width: 100%;
  /* height: 100; */
}

.eyeSVG {
  /* border: 1px solid red; */
  position: absolute;
  /* top: 30%; */
  bottom: 20px;
  transition: 0.05s ease-in-out;
  left: 46.5%;
  /* bottom: 50%; */
  width: 7%;
  animation-name: lookAround;
  animation-duration: 5s;
  z-index: 1;
}

.eyeHibernate {
  animation-name: hibernateEye;
  animation-duration: 5s;
  animation-delay: 5s;
  /* animation-direction: alternate; */
}


@keyframes hibernateEye {

  0% {
    /* opacity: 0; */
    /* transform: translateY(-20px); */

  }

  5% {
    /* opacity: 0.5; */
    /* transform: translateY(-10px); */
  }

  10% {
    /* opacity: 1; */
    /* transform: translateY(0px); */
  }

  20% {
    transform: rotate(50deg);
  }

  25% {
    transform: rotate(30deg);

  }

  40% {
    transform: rotate(-60deg);

  }

  60% {
    transform: rotate(-30deg);

  }

  100% {
    transform: rotate(0deg);
  }

}


@keyframes lookAround {

  0% {
    /* opacity: 0; */
    /* transform: translateY(-20px); */

  }

  5% {
    /* opacity: 0.5; */
    /* transform: translateY(-10px); */
  }

  10% {
    /* opacity: 1; */
    /* transform: translateY(0px); */
  }

  20% {
    transform: rotate(50deg);
  }

  25% {
    transform: rotate(30deg);

  }

  40% {
    transform: rotate(-60deg);

  }

  60% {
    transform: rotate(-30deg);

  }

  100% {
    /* transform: rotate(0deg); */
  }

}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.scale {
  transition: 0.2s ease-in-out;
  scale: 1.2;
}

.scaleEye {
  transition: 0.1s ease-in-out;
  scale: 1.1;
}

.contactInput {
  color: #f3f3f3;
  transition: 0.2s ease-in-out;
}

.contactInput:focus {

  transition: 0.2s ease-in-out;
  background-color: #f3f3f3;
  color: #363636;

}

.emailDialog{
  position: fixed;
  top: 85%;
  right: 0%;
  animation: fadeIn;
  animation-duration:0.5s ;

}




@keyframes fadeIn {
  0%{
    opacity: 0;
    right: -20%;
  }


 
  50%{
    right: 0%;
  }

  70%{
    right: -3%;
  }
  
  100%{
    opacity: 1;
    right: 0%;
  }
  
}

.fadeOut{
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 3.5s;

}

@keyframes fadeOut {
  30%{
    right: 5%;
    opacity: 1;
  }

  100%{
    opacity: 0;
    right: -40%;
  }  
}

/* .emailDialog::before{
  content: '';
  position: absolute;
  width: 24.5%;
  height:3px;
  rotate: 180deg;
  transform: scale(-1, 1);
  right:13px ;
  bottom: 14px;
  background-color: #1a1a1a;  
  animation-name: loadingDecrease;
  animation-duration: 6s;
} */

/* @keyframes loadingDecrease {

  100%{
    width: 0px;
  }

} */


@media (max-width:1280px) {
  .eyeSVG {
    left: 43.5%;
    width: 13%;
    bottom: 40px;
  }

  .eyeBackground{
    top: -20px;
  }

  .scale{
    scale: 1.1;
  }

}


@media (max-width:480px) {
  .eyeSVG {
    left: 39.5%;
    width: 20%;
    bottom: 35px;
  }



  .scale{
    scale: 1.01;
  }

}